.container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .title-container {
        border: 1px solid rgb(102, 43, 43);
        border-radius: 10px;
        background: #cf8a7a;
        margin: 18px 19px;

        .title {
            background: #cf8a7a;
            color: rgb(87 49 49);
            font-size: 50px;
            display: flex;
            font-weight: 600;
            justify-content: center;
        }
    }

    .question-container {
        padding: 25px;
        border: 1px solid rgb(102, 43, 43);
        border-radius: 10px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #cf8a7a;
        margin: 6px 19px;
        
        .question {
            background: #cf8a7a;
            font-size: 25px;
            line-height: 30px;
            font-weight: 500;
        }
    }

    .answer-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 7px;
        justify-content: center;
        margin: 6px 19px;

        .answer {
            border: 1px solid rgb(102, 43, 43);
            background: rgb(247, 223, 223);
            border-radius: 10px;
            padding: 10px;
            height: 50px;
            
            h5 {
                background: rgb(247, 223, 223);
                font-weight: 500;
                font-size: 25px;
                top: -30px;
                position: relative;            
            }
            
            &:active {
                background: rgb(247, 223, 223);
                box-shadow: inset -7px 8px 11px 0px rgb(141, 118, 118);
            }
        }
    }

    .confirm-container {
        display: flex;
        justify-content: center;
        margin: 6px 19px;

        .confirm {
            border: 1px solid rgb(102, 43, 43);
            background-color: rgb(102, 43, 43);
            color: white;
            font-size: 30px;
            padding: 10px;
            width: 400px;
            border-radius: 10px;
            
            &:active {
                box-shadow: inset 1px 1px 20px 3px #393939;
                background-color: rgb(121, 62, 62);
            }
        }
    }
}