<div class="container">
    <div class="title-container">
        <h2 class="title">Pergunta</h2>
    </div>
    <div class="question-container">
        <h4 class="question">
            Em qual continente está localizado o Brasil?
        </h4>
    </div>
    <div class="answer-container">
        <div class="answer"><h5>América</h5></div> <!-- *ngfor as quatro divs -->
        <div class="answer"><h5>África</h5></div>
        <div class="answer"><h5>Europa</h5></div>
        <div class="answer"><h5>Oceania</h5></div>
    </div>
    <div class="confirm-container">
        <button class="confirm">Confirmar</button>
    </div>
</div>