.container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .title-container {
        border: 1px solid rgb(102, 43, 43);
        box-shadow: -6px 3px 15px 1px #975050;
        border-radius: 10px;

        .title {
            color: rgb(124, 76, 76);
            font-size: 50px;
            display: flex;
            font-weight: 600;
            justify-content: center;
        }
    }

    .question-container {
        margin-top: 25px;
        padding: 25px;
        border: 1px solid rgb(102, 43, 43);
        border-radius: 10px;
        height: 100px;
        display: flex;
        width: 256px;
        justify-content: center;
        align-items: center;
        background: rgb(247, 223, 223);
        
        .question {
            font-size: 25px;
            line-height: 30px;
            font-weight: 500;
        }
    }

    .answer-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 7px;
        justify-content: center;
        
        .answer {
            border: 1px solid rgb(102, 43, 43);
            background: rgb(247, 223, 223);
            border-radius: 10px;
            padding: 10px;
            
            h5 {
                font-weight: 500;
                font-size: 25px;
            }
        }
    }

    .confirm-container {
        display: flex;
        justify-content: center;

        .confirm {
            border: 1px solid rgb(102, 43, 43);
            background-color: rgb(102, 43, 43);
            color: white;
            font-size: 30px;
            padding: 10px;
            width: 400px;
            border-radius: 10px;
        }
    }
}