<div class="config-container">
    <h2>CONFIGURAÇÕES</h2>
  
    <!-- <div class="section">
      <h3>Configurações de conta</h3>
      <div class="option">
        <input type="checkbox" id="trocar-senha">
        <label for="trocar-senha">Trocar minha senha</label>
      </div>
      <div class="option">
        <input type="checkbox" id="restaurar-aparelho">
        <label for="restaurar-aparelho">Restaurar aparelho</label>
      </div>
    </div> -->
  
    <div class="section">
      <h3>Configurações dos pais/admin</h3>
      <div class="option">
        <input type="checkbox" id="restringir-horario">
        <label for="restringir-horario">Restringir horário</label>
      </div>
      <div class="option">
        <input type="checkbox" id="restringir-aplicativos">
        <label for="restringir-aplicativos">Restringir aplicativos</label>
      </div>
      <div class="option">
        <input type="checkbox" id="configuracoes-perguntas">
        <label for="configuracoes-perguntas">Configurações das perguntas</label>
      </div>
    </div>
  
    <div class="section">
      <h3>Relógio e horário</h3>
      <div class="option">
        <input type="checkbox" id="mudar-fuso">
        <label for="mudar-fuso">Mudar Fuso</label>
      </div>
    </div>
  
    <div class="section">
      <h3>Temas e aplicativos liberados</h3>
      <div class="option" *ngFor="let app of apps">
        <input type="checkbox" id="{{app.id}}">
        <label>{{app.nome}}</label>
      </div>
    </div>
    <button >Confirmar</button>
  </div>
  