.container {
    display: flex;
    justify-content: center;
    opacity: 0.7;
    align-items: center;
    height: 100vh;
    background-image: url('/assets/imgs/iphone.jpeg');
    background-size: cover;
    background-position: center;
    bottom: 42px;
    position: relative;
}

svg {
    fill: white;
    width: 100px;
    height: 100px;
    background-color: transparent;
}